In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
data=pd.read_csv('heart.csv')
data.head(4)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3,0
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3,0
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3,0

In [ ]:
# checking if there is presence of null value in the dataset
data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1025 entries, 0 to 1024
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1025 non-null   int64
 1   sex       1025 non-null   int64
 2   cp        1025 non-null   int64
 3   trestbps  1025 non-null   int64
 4   chol      1025 non-null   int64
 5   fbs       1025 non-null   int64
 6   restecg   1025 non-null   int64
 7   thalach   1025 non-null   int64
 8   exang     1025 non-null   int64
 9   oldpeak   1025 non-null   float64
 10  slope     1025 non-null   int64
 11  ca        1025 non-null   int64
 12  thal      1025 non-null   int64
 13  target    1025 non-null   int64
dtypes: float64(1), int64(13)
memory usage: 112.2 KB

In [ ]:
data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,1025.000000,1025.000000,1025.000000,1025.000000,1025.00000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000,1025.000000
mean,54.434146,0.695610,0.942439,131.611707,246.00000,0.149268,0.529756,149.114146,0.336585,1.071512,1.385366,0.754146,2.323902,0.513171
std,9.072290,0.460373,1.029641,17.516718,51.59251,0.356527,0.527878,23.005724,0.472772,1.175053,0.617755,1.030798,0.620660,0.500070
min,29.000000,0.000000,0.000000,94.000000,126.00000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,48.000000,0.000000,0.000000,120.000000,211.00000,0.000000,0.000000,132.000000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,56.000000,1.000000,1.000000,130.000000,240.00000,0.000000,1.000000,152.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,275.00000,0.000000,1.000000,166.000000,1.000000,1.800000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.00000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [ ]:
data.head(1)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3,0

In [ ]:
# Separating dependent and independent variables
X=data.drop(columns='target')
y=data['target']

In [ ]:
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,52,1,0,125,212,0,1,168,0,1.0,2,2,3
1,53,1,0,140,203,1,0,155,1,3.1,0,0,3
2,70,1,0,145,174,0,1,125,1,2.6,0,0,3
3,61,1,0,148,203,0,1,161,0,0.0,2,1,3
4,62,0,0,138,294,1,1,106,0,1.9,1,3,2

In [ ]:
print(y.to_string)

<bound method Series.to_string of 0       0
1       0
2       0
3       0
4       0
       ..
1020    1
1021    0
1022    0
1023    1
1024    0
Name: target, Length: 1025, dtype: int64>

In [ ]:
# train test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)

In [ ]:
print(X.shape,X_train.shape,X_test.shape)

(1025, 13) (686, 13) (339, 13)

In [ ]:
# Performing hyperparameter tuning

In [ ]:
parameter={
    'n_estimators':[10,20,30,40,50,60,70,80,90],
    'criterion':['gini','entropy','log_loss'],
    'max_depth':[1,2,3,4,5,6,7],
    'max_features':['sqrt','log2','None']
}

In [18]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import GridSearchCV
rf=RandomForestClassifier()
cv=GridSearchCV(estimator=rf,param_grid=parameter,cv=5,scoring='accuracy')

In [20]:
cv.fit(X_train,y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/model_selection/_validation.py:378: FitFailedWarning:
945 fits failed out of a total of 2835.
The score on these train-test partitions for these parameters will be set to nan.
If these failures are not expected, you can try to debug them by setting error_score='raise'.

Below are more details about the failures:
--------------------------------------------------------------------------------
945 fits failed with the following error:
Traceback (most recent call last):
  File "/usr/local/lib/python3.10/dist-packages/sklearn/model_selection/_validation.py", line 686, in _fit_and_score
    estimator.fit(X_train, y_train, **fit_params)
  File "/usr/local/lib/python3.10/dist-packages/sklearn/ensemble/_forest.py", line 340, in fit
    self._validate_params()
  File "/usr/local/lib/python3.10/dist-packages/sklearn/base.py", line 600, in _validate_params
    validate_parameter_constraints(
  File "/usr/local/lib/python3.10/dist-packages/sklearn/utils/_param_validation.py", line 97, in validate_parameter_constraints
    raise InvalidParameterError(
sklearn.utils._param_validation.InvalidParameterError: The 'max_features' parameter of RandomForestClassifier must be an int in the range [1, inf), a float in the range (0.0, 1.0], a str among {'auto' (deprecated), 'sqrt', 'log2'} or None. Got 'None' instead.

  warnings.warn(some_fits_failed_message, FitFailedWarning)
/usr/local/lib/python3.10/dist-packages/sklearn/model_selection/_search.py:952: UserWarning: One or more of the test scores are non-finite: [0.83521633 0.81052576 0.81780387 0.84105575 0.83381995 0.84979372
 0.83388342 0.83818893 0.8425156  0.80325822 0.83522691 0.80898128
 0.82807574 0.82801227 0.8309214  0.83095314 0.83380937 0.83672908
        nan        nan        nan        nan        nan        nan
        nan        nan        nan 0.82801227 0.84402835 0.8629853
 0.8629324  0.86005501 0.85425791 0.86007617 0.85568603 0.85280863
 0.81776156 0.84980429 0.86153602 0.84257908 0.85423675 0.86008674
 0.86445573 0.86007617 0.85273458        nan        nan        nan
        nan        nan        nan        nan        nan        nan
 0.86588385 0.87320427 0.86880355 0.86733312 0.87463239 0.86881413
 0.87896964 0.87462181 0.86879298 0.85425791 0.86440284 0.86150428
 0.87026341 0.8819105  0.88779224 0.87316196 0.87757326 0.86588385
        nan        nan        nan        nan        nan        nan
        nan        nan        nan 0.8673437  0.88772876 0.90667513
 0.89210833 0.90087803 0.88483021 0.89354702 0.89068021 0.89646673
 0.88771818 0.88481963 0.89645615 0.8994076  0.89357876 0.89644557
 0.8949963  0.88917804 0.89649847        nan        nan        nan
        nan        nan        nan        nan        nan        nan
 0.89795832 0.90375542 0.91250397 0.91103353 0.91251455 0.91103353
 0.9125357  0.91104411 0.91249339 0.89501745 0.90668571 0.90230615
 0.90666455 0.91543425 0.903766   0.90668571 0.90813498 0.90668571
        nan        nan        nan        nan        nan        nan
        nan        nan        nan 0.92269121 0.92564265 0.93005395
 0.92130541 0.92273352 0.92567439 0.92420396 0.92130541 0.92420396
 0.92852005 0.94455728 0.9241828  0.92712366 0.92129483 0.93291019
 0.92422511 0.92568497 0.92856236        nan        nan        nan
        nan        nan        nan        nan        nan        nan
 0.93442293 0.94605945 0.94608061 0.95040728 0.954808   0.94026235
 0.94461018 0.94462076 0.94315032 0.93147149 0.94462076 0.95185655
 0.94896858 0.94171163 0.94751931 0.94462076 0.94603829 0.94171163
        nan        nan        nan        nan        nan        nan
        nan        nan        nan 0.81041997 0.79010896 0.83965937
 0.82506083 0.84109806 0.83096372 0.83960647 0.84986777 0.84253676
 0.81187983 0.83814662 0.83817836 0.83823125 0.83087909 0.83527981
 0.84114038 0.84691632 0.85280863        nan        nan        nan
        nan        nan        nan        nan        nan        nan
 0.82364329 0.84110864 0.85567545 0.84986777 0.86008674 0.85276632
 0.86297472 0.84401777 0.85132762 0.83529038 0.85861631 0.8527769
 0.85419444 0.84402835 0.85420501 0.84985719 0.85716704 0.86008674
        nan        nan        nan        nan        nan        nan
        nan        nan        nan 0.86444515 0.86004443 0.86586269
 0.87317254 0.86442399 0.86735428 0.87604993 0.87025283 0.86735428
 0.86446631 0.86147255 0.8731408  0.85279805 0.8775521  0.87609225
 0.87898022 0.87901195 0.87901195        nan        nan        nan
        nan        nan        nan        nan        nan        nan
 0.88184703 0.88188935 0.89793716 0.89062731 0.8819105  0.89207659
 0.88626891 0.89792658 0.89501745 0.88627949 0.88917804 0.89208717
 0.88772876 0.8891992  0.8891992  0.8935576  0.88629007 0.89063789
        nan        nan        nan        nan        nan        nan
        nan        nan        nan 0.8949963  0.90377658 0.91106527
 0.91251455 0.90813498 0.90669629 0.90813498 0.90668571 0.91105469
 0.89064847 0.90377658 0.90667513 0.90960542 0.90521528 0.90957368
 0.91250397 0.90375542 0.90522585        nan        nan        nan
        nan        nan        nan        nan        nan        nan
 0.92271237 0.92129483 0.9227441  0.92412991 0.91839628 0.9227441
 0.91836454 0.92128425 0.92712366 0.9197715  0.92565323 0.93148207
 0.92276526 0.92857294 0.92417222 0.92417222 0.92565323 0.93291019
        nan        nan        nan        nan        nan        nan
        nan        nan        nan 0.93730033 0.92858352 0.93002222
 0.94607003 0.94754046 0.94750873 0.93733206 0.94025177 0.94894742
 0.92710251 0.94167989 0.94024119 0.93877076 0.94171163 0.9431609
 0.94170105 0.94170105 0.94458902        nan        nan        nan
        nan        nan        nan        nan        nan        nan
 0.79885751 0.82354808 0.83966995 0.8265101  0.83379879 0.8469269
 0.83968052 0.8411298  0.84549878 0.79150534 0.81775098 0.83087909
 0.82944039 0.83531154 0.83381995 0.83676082 0.83672908 0.84114038
        nan        nan        nan        nan        nan        nan
        nan        nan        nan 0.83234952 0.84694806 0.8615466
 0.8556966  0.85424733 0.84695864 0.84838676 0.84985719 0.84547763
 0.82218343 0.8527769  0.8527769  0.85417328 0.84988892 0.85132762
 0.85568603 0.85132762 0.84547763        nan        nan        nan
        nan        nan        nan        nan        nan        nan
 0.86152544 0.87026341 0.87317254 0.88630065 0.86151486 0.87024225
 0.88192108 0.86880355 0.87172326 0.8703163  0.87317254 0.87023167
 0.87317254 0.87754152 0.87174442 0.87024225 0.88340209 0.87756268
        nan        nan        nan        nan        nan        nan
        nan        nan        nan 0.8789908  0.88337036 0.8994076
 0.89789485 0.88193166 0.89646673 0.89064847 0.89795832 0.89357876
 0.87606051 0.88479848 0.89500688 0.88771818 0.88189993 0.88917804
 0.89649847 0.88626891 0.88630065        nan        nan        nan
        nan        nan        nan        nan        nan        nan
 0.89939702 0.89505977 0.9081244  0.90377658 0.9139744  0.90522585
 0.9081244  0.90378716 0.91250397 0.8935576  0.91396382 0.91105469
 0.90665397 0.90231672 0.91104411 0.90670687 0.91396382 0.91250397
        nan        nan        nan        nan        nan        nan
        nan        nan        nan 0.9139744  0.92856236 0.92127367
 0.91983497 0.91690469 0.92855178 0.9285412  0.92853063 0.9241828
 0.91252512 0.91252512 0.92857294 0.92708135 0.92999048 0.92419338
 0.92710251 0.93000106 0.92273352        nan        nan        nan
        nan        nan        nan        nan        nan        nan
 0.93879192 0.93296308 0.94315032 0.9329525  0.94170105 0.9445996
 0.94462076 0.94170105 0.93877076 0.93443351 0.95037554 0.94602772
 0.93876018 0.93879192 0.94897916 0.9431609  0.94169047 0.94171163
        nan        nan        nan        nan        nan        nan
        nan        nan        nan]
  warnings.warn(

GridSearchCV(cv=5, estimator=RandomForestClassifier(),
             param_grid={'criterion': ['gini', 'entropy', 'log_loss'],
                         'max_depth': [1, 2, 3, 4, 5, 6, 7],
                         'max_features': ['sqrt', 'log2', 'None'],
                         'n_estimators': [10, 20, 30, 40, 50, 60, 70, 80, 90]},
             scoring='accuracy')

In [21]:
cv.best_params_

{'criterion': 'gini',
 'max_depth': 7,
 'max_features': 'sqrt',
 'n_estimators': 50}

In [22]:
y_pred=cv.predict(X_test)

In [24]:
from sklearn.metrics import classification_report
report=classification_report(y_pred,y_test)

In [25]:
print(report)

              precision    recall  f1-score   support

           0       0.98      0.97      0.98       173
           1       0.97      0.98      0.98       166

    accuracy                           0.98       339
   macro avg       0.98      0.98      0.98       339
weighted avg       0.98      0.98      0.98       339